<div class="panel panel-primary">
    <div class="panel-heading" align="center">
      <H2> Actualizar noticia</H2>
    </div>
  </div>
  <div class="padre">
      <div>
         
      </div>
  <hr>
  <form action="/action_page.php">
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Titulo :</label>
        <input type="text" class="form-control" id="titulo" required [(ngModel)]="noticia.titulo" name="titulo">
      </div>
  
      <div class="form-group">
        <label for="name">Descripcion de noticia:</label>
        <input type="text" class="form-control" id="cuerpo" required [(ngModel)]="noticia.cuerpo" name="cuerpo">
      </div>
  
      <div class="form-group">
        <label for="name">Fecha :</label>
        <input type="text" class="form-control" id="fecha" required [(ngModel)]="noticia.fechapbl" name="fecha">
      </div>
  
      <button type="submit" class="btn btn-success">Guardar cambios</button>
    </form>
  </div>
  </form>
  </div>
