<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Listado de Autores</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre Autor</th>
            <th>Nombre Usuario</th>
            <th>Twitter</th>
            <th>Facebook</th>
            <th>Instagram</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autor of autor | async">
            <td>{{autor.autor}}</td>
            <td>{{autor.usuario}}</td>
            <td>{{autor.twitter}}</td>
            <td>{{autor.facebook}}</td>
            <td>{{autor.instagram}}</td>
            <td>{{autor.descripcion}}</td>
            <td><button (click)="deleteAutor(autor.id)" class="btn btn-danger " disabled>Eliminar</button>
                <button (click)="autorDetails(autor.id)" class="btn btn-info" style="margin-left: 10px">Detalles</button>
                <button (click)="autorUpdate(autor.id)" class="btn btn-warning" style="margin-left: 10px">Actualizar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>