<div class="panel panel-primary">
    <div class="panel-heading" align="center">
      <h2>Noticia por detalle</h2>
    </div>
  </div>
<div class="padre">
    
<form action="/action_page.php">
<div *ngIf="noticia.id">
    <div>
        <label><h4><b> Noticia :</b></h4></label>
        <H5>{{noticia.titulo}}</H5>
    </div>
    <div>
        <label><H4><b>Cuerpo de noticia:</b></H4></label>
        <H5>{{noticia.cuerpo}}</H5>
    </div>
    <div>
        <label><h4><b>Fecha de publicacion :</b></h4></label>
        <h5>{{noticia.fechapbl}}</h5>
    </div>
</div>
</form>
<br>
<br>
<button (click)="list()" class="btn btn-primary">Regresar a Lista de </button><br>
</div>
