<div class="container">
  <div class="panel panel-primary">
  <div class="panel-heading" align="center">
    <h2>Menu de Opciones</h2>
  </div>
</div>
    <div class="row">
        <div class="col-sm-41">
            
        </div>
        <div class="col-sm-42" >
          <div class="btn-group-vertical btn-block btn-lg">
                <button type="button" class="btn btn-dark btn-lg" routerLink="CrearAutor">Crear Autor</button>
                <button type="button" class="btn btn-info btn-lg" disabled routerLink="DetallesAutor">Detalle de Autores</button>
                <button type="button" class="btn btn-warning btn-lg" disabled routerLink="ActualizarAutor">Actualizar Autor</button>
                <button type="button" class="btn btn-dark btn-lg" disabled routerLink="CrearPublicacion">Crear Publicación</button>
                <button type="button" class="btn btn-info btn-lg" disabled routerLink="DetallesPublicacion">Listado Publicaciónes</button>
                <button type="button" class="btn btn-warning btn-lg"disabled routerLink="ActualizarPublicacion">Actualizar Publicaciónes</button>
                <button type="button" class="btn btn-primary btn-lg" routerLink="ListadoPublicaciones">Ver Publicaciones</button>
              </div>
        </div>
        <div class="col-sm-43" >.col-sm-4</div>
      </div>
</div>