.container{
    margin-block-start: 5px;
    margin-block-end: 5px;
    
    /* height: max-content; */
} 
.col-sm-41{
    background-color: gray;
    width: 250px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}
.col-sm-42{
    background-color: gray;
    width: 630px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}
.col-sm-43{
    background-color: gray;
    width: 250px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}
/* .btn-group-vertical{
    width: auto;
    height: max-content;
} */