<div class="panel panel-primary">
    <div class="panel-heading" align="center">
      <h2>Autores por detalle</h2>
    </div>
  </div>
<div class="padre">
    
<form action="/action_page.php">
<div *ngIf="autor.id">
    <div>
        <label><h4><b> Nombre de Autor :</b></h4></label>
        <H5>{{autor.autor}}</H5>
    </div>
    <div>
        <label><H4><b>Nombre de Usuario :</b></H4></label>
        <H5>{{autor.usuario}}</H5>
    </div>
    <div>
        <label><h4><b>Twitter :</b></h4></label>
        <h5>{{autor.twitter}}</h5>
    </div>
    <div>
        <label><h4><b>Facebook :</b></h4></label>
        <h5>{{autor.facebook}}</h5>
    </div>
    <div>
        <label><h4><b>Instagram :</b></h4></label>
        <h5>{{autor.instagram}}</h5>
    </div>
    <div>
        <label><h4><b>Descripcion :</b></h4></label>
            <h5>{{autor.descripcion}}</h5>
    </div>
</div>
</form>
<br>
<br>
<button (click)="list()" class="btn btn-primary">Regresar a Lista de Autores</button><br>
</div>


